@keyframes jo_memory_pulse_keyframes_red {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: #df621a;
    }

    to {
        background-color: transparent;
    }
}

@keyframes jo_memory_pulse_keyframes_green {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: #4ffa2c;
    }

    to {
        background-color: transparent;
    }
}

.joeCssFence {

    --memorytab-codebackground: #1c6de78f;
    --memorytab-databackground: #91720c93;
    --memorytab-revealoperand: #22ff00;
    --memorytab-revealstackpointer: #802020;
    
    .jo_memorytab {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        user-select: none;
    }

    .jo_memorytab_heading1 {
        height: 20px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 3px 5px;
    }

    .jo_memorytab_hamburger {
        margin-right: 10px;
    }

    .jo_memorytab_registername {
        color: var(--debugger-localVariableIdentifier);
        font-weight: bold;
        height: fit-content;
        padding: 0 2px;
    }

    .jo_memorytab_registervalue {
        color: var(--fontColorLight);
        width: 60px;
    }

    .jo_memorytab_flagname {
        color: var(--debugger-fieldIdentifier);
        font-weight: bold;
    }

    .jo_memorytab_flagvalue {
        color: var(--fontColorLight);
        width: 30px;
    }

    .jo_memorytab_heading2 {
        height: 20px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 3px 5px;
    }

    .jo_memorytab_heading2text {
        color: var(--fontColorNormal);
        font-weight: bold;
    }

    .jo_memorytab_memoryOuter {
        width: 100%;
        flex: 1;
        position: relative;
    }

    .jo_memorytab_regulartable {
        scrollbar-width: auto !important;
        padding: 3px 0;
    }

    .jo_memorytab_regulartable tbody tr td,
    .jo_memorytab_regulartable th {
        user-select: none;
        text-align: right;
    }

    .jo_memorytab_regulartable th {
        color: var(--memorytab-tableheadings);
    }


    .jo_memorytab_regulartable table {
        scrollbar-width: auto !important;
        color: var(--fontColorNormal) !important;
    }

    .jo_memorytab_currentstatement {
        background-color: var(--reveal-programpointer);
    }

    .jo_memorytab_programlocation {
        background-color: var(--memorytab-codebackground);
    }

    .jo_memorytab_datalocation {
        background-color: var(--memorytab-databackground);
    }

    .jo_memorytab_addressoperand {
        border: 2px dashed var(--memorytab-revealoperand);
        box-sizing: border-box;
    }
    
    .jo_memorytab_indirectoperand {
        border: 2px solid var(--memorytab-revealoperand);
        box-sizing: border-box;
    }

    .jo_memorytab_register-pc {
        background-color: var(--reveal-programpointer);
    }
    
    .jo_memorytab_register-sp {
        border: 2px solid var(--memorytab-revealstackpointer);
    }
    
    .jo_memorytab_reveal-sp {
        border: 2px solid var(--memorytab-revealstackpointer);
    }

}