.jo_settingsTabBody {
    flex: 1;
    display: flex;
    flex-direction: row; 
    border-top: 1px solid #888;
}

.jo_settingsLeftMenu {
    width: 15em;
    border-right: 1px solid #888;
}

.jo_settingsMain {
    flex: 1;
    height: 100%;
    overflow: auto;
    padding: 10px;
}

.jo_settingsSelect {
    background-color: inherit;
    color: inherit;
}

.jo_settingsSelect option {
    background-color: var(--backgroundDark);
}

.jo_settingsGroupCaption {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 5px;
}

.jo_settingCaption {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 5px;
}

.jo_settingDiv {
    margin-left: 10px;
}


