.joeCssFence {
    .jo_slider {
        /* width: 4px;
        height: 100%; */
        background-color: transparent;
        position: absolute;
        /* top: 0px;
        left: calc(100% - 2px); */
        z-index: 10;
        user-select: none;
    }

    .jo_slider:hover {
        background-color: #6969697a;
    }

    .jo_slider:active {
        background-color: rgba(71, 102, 202, 0.493) !important;
    }

    .jo_sliderknob {
        position: absolute;
        top: -8px;
        transform: scale(1.5);
        user-select: none;
        /* cursor: move !important; */
    }

}